body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  display: flex;    
  justify-content: center;
}

.title {
  font-weight: lighter;
}

.main-img {
  width: 100%;
  max-width: 320px;
  height: auto;
  box-shadow: 0px 2px 5px lightgray;
}

.card-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  max-width: 60%;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid black;
  border-radius: 8px;
  gap: 20px; /* space between image and text */
}

.title {
  font-weight: 400;
  margin-bottom: 10px;
}

.text-content {
  flex: 1;
  padding: 10px;
}

/* make it responsive */
@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 95%;
  }

  .main-img {
    width: 100%;
    max-width: 100%;
  }

  .text-content {
    text-align: left;
    width: 100%;
  }
}

/* make it responsive for even smaller screens */
@media (max-width: 480px) {
    .card-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .main-img {
    order: -1;
      max-width: 100%;
      width: 100%;
    }
  
    .text-content {
      text-align: left;
      width: 100%;
    }
  }